.brawler {
  display: flex;
  gap: 15px;
  align-items: center;
}

.brawlerContainer {
  position: relative;
  width: 105px;
  height: 110px;
}

.brawlerImg {
  object-fit: cover;
  border: 3px #000000 solid;
}

.rankBrawl {
  position: absolute;
  bottom: -7px;
  left: -12px;
}

.link {
  text-decoration: none;
}

.rankNum {
  position: absolute;
  bottom: -1px;
  left: -4.5px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  text-shadow:
    #000 -1px 2px,
    #000 -1px -1px;
}

.nameBrawl {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  text-shadow:
    #000 -1px 2px,
    #000 -1px -1px;
  padding-bottom: 6px;
}

.infoBrawl {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 3px;
}

.trophy {
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  text-shadow:
    #000 -1px 2px,
    #000 -1px -1.3px;
}

.containerHigh {
  border: 2px #000 solid;
  transform: skew(-7deg, 0deg);
  padding: 5px 10px;
  background-color: #de6f30;
}

.skew {
  transform: skew(7deg, 0deg);
}

.highestTrophies {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

.infoBrawlHigh {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.powerContainer {
  transform: skew(-7deg, 0deg);
  border: #000 2px solid;
  padding: 8px 0;
  margin-top: 13px;
  background: rgb(236, 148, 6);
  background: linear-gradient(90deg, rgba(236, 148, 6, 1) 15%, rgba(238, 203, 6, 1) 51%, rgba(236, 148, 6, 1) 87%);
}

.power {
  transform: skew(7deg, 0deg);
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 90%);
  text-align: center;
}

.abilitiesContainer {
  transform: skew(-7deg, 0deg);
  border: #000 2px solid;
  padding: 8px 0;
  margin-top: 13px;
  background-color: #2188e8;
  cursor: pointer;
  text-align: center;
}

.starGadgets {
  transform: skew(7deg, 0deg);
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-shadow:
    #000 -1.5px 2px,
    #000 -1.5px -1.5px;
  position: relative;
  padding-left: 35px;
}

.open {
  transform: rotate(90deg);
  position: absolute;
  left: 14px;
}

.close {
  position: absolute;
  left: 14px;
}

.abilities {
  display: flex;
  margin: 0 auto;
  margin-top: 9px;
  border: 2px #000 solid;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(30, 31, 34, 45%);
}

.starContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 4px;
}

.starName {
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  text-shadow:
    #000 -1px 2px,
    #000 -1px -1.3px;
}

.gearContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 4px;
}

@media (min-width: 580px) {
  .powerContainer {
    margin: 0 auto;
    margin-top: 13px;
    width: 85%;
  }

  .abilitiesContainer {
    margin: 0 auto;
    margin-top: 13px;
    width: 85%;
  }

  .abilities {
    width: 85%;
  }
}

@media (min-width: 595px) {
  .brawler {
    justify-content: center;
  }

  .brawlerContainer {
    width: 105px;
    height: 110px;
  }

  .highestTrophies {
    font-size: 14px;
  }

  .trophy {
    font-size: 15px;
    text-shadow:
      #000 -1px 2px,
      #000 -1px -1.3px;
  }

  .starGadgets {
    font-size: 20px;
  }
}

@media (min-width: 640px) {
  .brawlerContainer {
    width: 110px;
    height: 115px;
  }

  .highestTrophies {
    font-size: 15px;
  }
}
