.title {
    margin-bottom: 35px;
    font-weight: 800;
    font-size: 25px;
    color: #ffffff;
    text-shadow: #000 -2px 3px, #000 -1px -1px;
}

.brawlerContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
    justify-content: center;
}

.imgCont {
    position: relative;
    width: 55px;
    height: 55px;
    cursor: pointer;
    border: 5px #000000 solid;
}

.brawlerImg {
    object-fit: cover;
}
.selectedBrawler {
    border: 5px #e60302 solid;
}

.section {
    border: 1px solid #000;
    padding: 8px;
    background-color: #114591;
}

.ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.li {
    color: #ffffff;
    font-weight: 600;
    font-size: 19px;
    text-decoration: none;
    text-shadow: #000 -1px 2px, #000 -1.5px -1.5px;
    text-transform: capitalize;
    cursor: pointer;
}

.selected {
    color: #e60302;
}

.drop {
    background-color: #2188e8;
    padding: 10px;
    transform: skew(-7deg,0deg);
    border: #000000 solid 2px;
    cursor: pointer;
    margin-bottom: 30px;
}

.location {
    font-size: 25px;
    color: #ffffff;
    font-weight: 800;
    transform: skew(7deg,0deg);
    padding-left: 30px;
    position: relative;
    text-shadow: #000 -2px 3px, #000 -1.5px -1.5px;
}

.open {
    transform: rotate(90deg);
    position: absolute;
    left: 7px;
}

.close {
    position: absolute;
    left: 7px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    border: 1px solid #000;
    margin-bottom: 30px;
    background-color: #897789;
}

.country {
    border: 1px solid #000;
    padding: 10px 5px;
    cursor: pointer;
}

.countryName {
    font-size: 13px;
    color: #ffffff;
    font-weight: 700;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
    text-align: center;
}

.loading {
    font-size: 25px;
    font-weight: 800;
    color: #ffffff;
    text-shadow: #000 -2px 3px, #000 -1.5px -1.5px;
    margin: 20px 0;
    cursor: pointer;
    text-align: center;
}

.load {
    width: 100%;
    padding: 15px;
    background-color: #655762;
    font-weight: 700;
    font-size: 22px;
    color: #ffffff;
    text-shadow: #000 -2px 3px, #000 -1.5px -1.5px;
    border: 3px solid #000;
    cursor: pointer;
}

/* @media (min-width: 400px) {
    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .countryName {
        font-size: 13px;
    }
} */

@media (min-width: 420px) {
    .title {
        font-size: 27px; 
    }

    .li {
        font-size: 21px;
    }

    .location {
        font-size: 27px;
    }
}

@media (min-width: 525px) {
    .grid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .imgCont {
        width: 60px;
        height: 60px;
    }

    .countryName {
        font-size: 15px;
        text-shadow: #000 -1px 2px, #000 -1.5px -1.5px;
    }
}

@media (min-width: 800px) {
    .grid {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .imgCont {
        width: 70px;
        height: 70px;
    }
}

@media (min-width: 1048px) {
    .grid {
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }
}