.title {
    margin-bottom: 35px;
    font-weight: 800;
    font-size: 30px;
    color: #ffffff;
}

.stats {
    color: #0cf20c;
}

.center {
    border: #000000 solid 2px;
}

.section {
    display: flex;
    justify-content: space-evenly;
}

.div {
    margin: 0 auto;
}

.p {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}





