.card {
  border: #000000 solid 2px;
  padding: 20px;
  width: 100%;
  background-color: #e60302;
  /* transform: skew(-7deg,0deg) */
}

.search {
  font-weight: 700;
  font-size: 23px;
  background: radial-gradient(circle farthest-corner at center center, #fce832 58%, #fcb900 89%, #fcda7b 0%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: capitalize;
}

.form {
  position: relative;
}

.hashtag {
  position: absolute;
  font-size: 23px;
  font-weight: 600;
  top: 5px;
  left: 6px;
  z-index: 50;
}

.tag {
  width: 200px;
  outline: none;
  font-size: 20px;
  font-family: inherit;
  font-weight: 600;
  border: solid #000000 2px;
  padding: 5px 5px 5px 20px;
  margin-bottom: 15px;
  transform: skew(-7deg, 0deg);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5px;
  margin-bottom: 10px;
}

.playerCon {
  border: 2px solid #000;
  padding: 5px;
  text-decoration: none;
  background-color: #353d50;
}

.player {
  font-weight: 700;
  text-shadow:
    #000 -1px 2px,
    #000 -1.5px -1.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.tagPlayer {
  font-weight: 700;
  text-shadow:
    #000 -1px 2px,
    #000 -1.5px -1.5px;
  color: #ffffff;
  font-size: 10px;
}

.button {
  background-color: #2188e8;
  font-weight: 700;
  height: 35px;
  width: fit-content;
  display: block;
  padding: 5px;
  color: #ffffff;
  border-radius: 3px;
  font-size: 17px;
  border: solid #000000 2px;
  text-shadow:
    #000 -1px 2px,
    #000 -1px -1px;
  cursor: pointer;
}

@media (min-width: 400px) {
  .search {
    font-size: 24px;
  }

  .card {
    width: 350px;
  }
}

@media (min-width: 575px) {
  .card {
    width: 250px;
  }

  .search {
    font-size: 27px;
  }
}

@media (min-width: 630px) {
  .card {
    width: 280px;
  }
}

@media (min-width: 775px) {
  .card {
    width: 300px;
    border: #000000 solid 3px;
  }

  .player {
    font-weight: 700;
    text-shadow:
      #000 -1px 2px,
      #000 -1.5px -1.5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tagPlayer {
    font-weight: 700;
    text-shadow:
      #000 -1px 2px,
      #000 -1.5px -1.5px;
    color: #ffffff;
    font-size: 12px;
  }

  .button {
    font-size: 20px;
  }
}

@media (min-width: 870px) {
  .card {
    width: 350px;
  }
}

@media (min-width: 900px) {
  .card {
    width: 361px;
  }
}
