.head {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.icon {
  position: relative;
}

.imgCont {
  position: relative;
  width: 70px;
  height: 80px;
  margin: 0 auto;
}

.tag {
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  text-shadow:
    #000 -1px 2px,
    #000 -1px -1px;
  text-align: center;
}

.profile {
  border: 3px solid #000000;
  transform: skew(-7deg, 0deg);
  background-color: #353d50;
  box-shadow: #0e0e16 0px 3px 9px;
  display: flex;
  align-items: center;
}

.profileContainer {
  transform: skew(7deg, 0deg);
  width: 100%;
  padding: 5px;
}

.name {
  font-size: 19.5px;
  font-weight: 700;
  text-shadow:
    #000 -1.5px 2px,
    #000 -1.5px -1.5px;
  color: #ffffff;
  padding-bottom: 6px;
  text-align: center;
}

.trophies {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.imgTro {
  position: relative;
  width: 25px;
  height: 20px;
}

.number {
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  text-shadow:
    #000 -1px 2px,
    #000 -1px -1px;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 50px;
  gap: 5px;
}

.statsProfile {
  position: relative;
  padding: 20px 5px 10px 5px;
  border: 3px solid #000000;
  transform: skew(-7deg, 0deg);
  background-color: #353d50;
  box-shadow: #0e0e16 0px 3px 9px;
}

.statTrophies {
  position: relative;
  padding: 20px 5px 10px 5px;
  border: 3px solid #000000;
  transform: skew(-7deg, 0deg);
  background-color: #353d50;
  box-shadow: #0e0e16 0px 3px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.infoPlayer {
  padding: 0 3px;
  transform: skew(7deg, 0deg);
  font-size: 14px;
  position: absolute;
  top: -11px;
  left: 8px;
  font-weight: 700;
  color: #ffffff;
  text-shadow:
    #000 -1.5px 2px,
    #000 -1.5px -1.5px;
  background-color: #353d50;
}

.reqTro {
  position: absolute;
  top: -23px;
  left: 8px;
  text-align: center;
  width: 80px;
}

.stats {
  transform: skew(7deg, 0deg);
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  text-shadow:
    #000 -1px 2px,
    #000 -1px -1px;
  text-transform: capitalize;
  text-align: center;
}

.description {
  margin-top: 25px;
  margin-bottom: 50px;
  position: relative;
  padding: 20px;
  border: 3px solid #000000;
  transform: skew(-7deg, 0deg);
  background-color: #353d50;
  box-shadow: #0e0e16 0px 3px 9px;
}

.members {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
  text-shadow:
    #000 -2px 3px,
    #000 -1.5px -1.5px;
}

@media (min-width: 500px) {
  .imgCont {
    width: 90px;
    height: 100px;
  }

  .name {
    font-size: 22px;
  }

  .imgTro {
    width: 30px;
    height: 25px;
  }

  .number {
    font-size: 15px;
  }

  .info {
    gap: 20px;
  }

  .infoPlayer {
    font-size: 17px;
  }

  .stats {
    font-size: 15px;
  }

  .members {
    font-size: 24px;
  }
}

@media (min-width: 700px) {
  .head {
    display: flex;
    padding: 5px 25px;
    gap: 10px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .imgCont {
    width: 100px;
    height: 110px;
  }

  .tag {
    font-size: 18px;
  }

  .profile {
    padding: 10px 25px;
  }

  .name {
    font-size: 25px;
  }

  .number {
    font-size: 18px;
  }

  .info {
    gap: 30px;
    margin-top: 40px;
  }

  .reqTro {
    width: unset;
    bottom: 0;
    left: 0;
  }

  .infoPlayer {
    font-size: 22px;
    top: -16px;
    left: 8px;
  }

  .stats {
    font-size: 19px;
  }

  .members {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 27px;
    color: #ffffff;
    text-shadow:
      #000 -2px 3px,
      #000 -1.5px -1.5px;
  }
}

@media (min-width: 1000px) {
  .head {
    padding: 5px 50px;
    gap: 100px;
    justify-content: unset;
  }

  .profile {
    padding: 10px 100px;
  }

  .tag {
    text-align: unset;
    bottom: -14px;
    left: 0px;
    font-size: 20px;
  }

  .name {
    font-size: 28px;
  }

  .number {
    font-size: 20px;
  }

  .info {
    gap: 40px;
    justify-content: center;
    margin-top: 75px;
    grid-template-columns: repeat(2, minmax(0, 400px));
  }

  .infoPlayer {
    font-size: 24px;
  }

  .stats {
    font-size: 20x;
  }

  .members {
    font-size: 27px;
  }
}
