.head {
    display: flex;
    padding: 5px 50px;
    gap: 100px;
}

/* .img {
    object-fit: fill;
} */

.icon {
    position: relative;
}

.tag {
    position: absolute;
    bottom: -12px;
    left: 0px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
}

.profile {
    padding: 10px 100px;
    border: 3px solid #000000;
    transform: skew(-7deg,0deg);
    background-color: #353d50;
    box-shadow: #0e0e16 0px 3px 9px;
}

.profileContainer {
    transform: skew(7deg,0deg);
}

.nameContainer {
    display: flex;
    gap: 25px;
    align-items: center;
}

.name {
    font-size: 28px;
    font-weight: 700;
    /* text-shadow: #000 -1px 2px, #000 -1px -1px; */
    padding-bottom: 6px;
}

.exp {
    position: relative;
}

.level {
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: #000 -0.5px 1px, #000 -1px -0.5px;
    bottom: 19px;
    left: 10px;
}

.trophies {
    display: flex;
    gap: 5px;
    align-items: center;
}

.number {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
}

.info {
    margin: 75px 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 40px;
}

.statsProfile {
    position: relative;
    padding: 15px;
    border: 3px solid #000000;
    transform: skew(-7deg,0deg);
    background-color: #353d50;
    box-shadow: #0e0e16 0px 3px 9px;
}

.infoPlayer {
    padding: 0 3px;
    transform: skew(7deg,0deg);
    font-size: 24px;
    position: absolute;
    top: -16px;
    left: 8px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
    background-color: #363b4e;
}

.stats {
    transform: skew(7deg,0deg);
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
}

/* ---- */

.drop {
    background-color: #2188e8;
    padding: 10px;
    transform: skew(-7deg,0deg);
    border: #000000 solid 2px;
    cursor: pointer;
}

.open {
    transform: rotate(90deg);
    position: absolute;
    left: 7px;
}

.close {
    position: absolute;
    left: 7px;
}

.text {
    font-size: 30px;
    color: #ffffff;
    font-weight: 800;
    transform: skew(7deg,0deg);
    padding-left: 30px;
    position: relative;
    text-shadow: #000 -2px 3px, #000 -1px -1px;
    /* margin: 40px 0px 15px 0px; */
}

.error {
    text-align: center;
    text-shadow: #000 -2px 3px, #000 -1px -1px;
    font-size: 30px;
    color: #ffffff;
    margin-top: 15px;
}

.brawlers {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 50px;
    margin-top: 70px;
}

.brawler {
    display: flex;
    gap: 15px;
    position: relative;
}

.brawlerImg {
    object-fit: cover;
    border: 3px #000000 solid;
}

.rankBrawl {
    position: absolute;
    bottom: -7px;
    left: -7px;
}

.rankNum {
    position: absolute;
    bottom: -1px;
    left: 0px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
}

.nameBrawl {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
    padding-bottom: 6px;
}

.infoBrawl {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 3px;
}

.trophy {
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: #000 -1px 2px, #000 -1px -1.3px;
}

.containerHigh {
    border: 2px #000 solid;
    transform: skew(-7deg,0deg);
    padding: 5px 10px;
    background-color: #de6f30;
}

.skew {
    transform: skew(7deg,0deg);
}

.highestTrophies {
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}

.infoBrawlHigh {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.starContainer {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 4px
}

.starName {
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: #000 -1px 2px, #000 -1px -1.3px;
}

.powerContainer {
    transform: skew(-7deg,0deg);
    border: #000 2px solid;
    padding: 8px 0;
    margin-top: 13px;
    width: 85%;
    background: rgb(236,148,6);
    background: linear-gradient(90deg, rgba(236,148,6,1) 15%, rgba(238,203,6,1) 51%, rgba(236,148,6,1) 87%);
}

.power {
    transform: skew(7deg,0deg);
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 90%);
    /* text-shadow: #000 -2px 2px, #000 -2px -1.5px; */
    text-align: center;
}

.abilities {
    display: flex;
    gap: 40px;
    margin-top: 9px;
    border: 2px #000 solid;
    width: 85%;
    padding: 8px;
    align-items: center;
    background-color: rgb(30, 31, 34, 45%);
}

.gearContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 145px;
    column-gap: 4px;
}
