
.brawlerContainer {
    position: relative; 
    width: 60px;
    height: 47.5px;
}

.brawlerImg {
    border: 3px #000 solid;
}

.winRate {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #000;
    text-align: center;
    position: absolute;
    bottom: -17px;
    width: 100%;
}

@media (min-width: 400px) {
    .brawlerContainer {
        width: 70px;
        height: 57.5px;
    }
}

@media (min-width: 450px) {
    .brawlerContainer {
        width: 75px;
        height: 62.5px;
    }
}

@media (min-width: 730px) {
    .brawlerContainer {
        width: 62px;
        height: 53.5px;
    }
}

@media (min-width: 775px) {
    .brawlerContainer {
        width: 72px;
        height: 59.5px;
    }
}

@media (min-width: 915px) {
    .brawlerContainer {
        width: 67px;
        height: 55.5px;
    }
}