.footer {
    margin-top: 40px;
    padding: 20px 0;
}

.p {
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
    text-align: center;
}

.mail {
    display: block;
    font-weight: 500;
    font-size: 13px;
    color: #2188e8;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
}

.policy {
    font-weight: 500;
    font-size: 11px;
    color: #ffffff;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
    text-align: center;
}

.link {
    color: #ffffff;
}


@media (min-width: 420px) {
    .p {
        font-size: 14px;
    }

    .mail {
        font-size: 14px;
    }
    
    .policy {
        font-size: 12px;
    }
}

@media (min-width: 500px) {
    .p {
        font-size: 15px;
        font-weight: 600;
    }

    .mail {
        font-size: 15px;
        font-weight: 600;
    }
    
    .policy {
        font-size: 13px;
        font-weight: 600;
    }
}

@media (min-width: 900px) {
    .p {
        font-size: 16px;
        font-weight: 600;
    }

    .mail {
        font-size: 16px;
        font-weight: 600;
    }
    
    .policy {
        font-size: 14px;
        font-weight: 600;
    }
}

