.header {
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    color: #ffffff;
}

.logo {
    color: #ffffff;
    text-decoration: none;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
}

.game {
    font-weight: 600;
    font-size: 16px;
}

.pro {
    font-size: 18px;
    font-weight: 800;
    color: #e60302;
}

.nav {
    display: flex;
    gap: 15px;
    padding-top: 2px;
    list-style: none;
}

.li {
    opacity: 80%;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
    transition: cubic-bezier(.4,0,.2,1);
}

.li:hover {
    opacity: 100%;
    text-decoration-line: underline;
    text-underline-offset: 8px;
}

@media (min-width: 410px) {
    .header {
        padding: 20px 27px;
    }
}


@media (min-width: 500px) {
    .header {
        padding: 20px 30px;
    }

    .game {
        font-weight: 500;
        font-size: 18px;
    }
    
    .pro {
        font-size: 20px;
        font-weight: 700;
        color: #e60302;
    }
    

    .li {
        font-size: 14px;
    }
}

@media (min-width: 500px) {
    .li {
        font-size: 15px;
    }
}

@media (min-width: 550px) {
    .li {
        font-size: 17px;
    }
}

@media (min-width: 730px) {
    .header {
        gap: 200px;
        justify-content: unset;
        padding: 20px 80px;
    }
}