.article {
  background-color: #83749e;
  border: 2px #000 solid;
  margin: 20px 0;
  padding-bottom: 15px;
  position: relative;
}

.typeMode {
  padding: 5px 5px 2.5px 5px;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  text-shadow:
    #000 -2px 2px,
    #000 -1px -1px;
  text-transform: capitalize;
  text-align: left;
}

.timeAgo {
  padding: 7px 5px 2.5px 0;
  font-size: 9.5px;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 0 0 30px 0;
  align-items: center;
  background-color: #736a96;
  padding: 15px 10px;
}

.mode {
  display: flex;
  align-items: center;
  gap: 5px;
}

.iconCont {
  position: relative;
  width: 24px;
  height: 23px;
}

.modeName {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-shadow:
    #000 -1px 2px,
    #000 -1px -1px;
}

.mapName {
  font-size: 10px;
  font-weight: 600;
  color: #ffffff;
  text-shadow:
    #000 -1px 2px,
    #000 -1px -1px;
}

.resContainer {
  justify-self: center;
}

.result {
  font-size: 17px;
  font-weight: 700;
  text-shadow:
    #000 -1px 2px,
    #000 -1px -1px;
  text-transform: uppercase;
}

.win {
  color: #30e838;
}

.lose {
  color: #cc0303;
}

.typeContainer {
  justify-self: end;
  display: flex;
  gap: 4px;
  align-items: center;
}

.type {
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  text-shadow:
    #000 -1px 2px,
    #000 -1px -1px;
  text-transform: capitalize;
}

.modeContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 30px;
}

.duoContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 30px;
}

/* .playerContainer {
    justify-self: center;
    position: relative;
} */

.teams {
  background-color: #5c5274;
  padding: 10px 10px 0 10px;
  justify-self: center;
}

.team {
  margin-bottom: 15px;
  position: relative;
}

/* .brawlerInfo {
    position: relative;
} */

/* .trophiesBrawler {
    position: absolute;
    display: flex;
    padding: 3px;
    background-color: #000;
    align-items: center;
    gap: 2px;
} */

/* .trophies {
    font-size: 14px;
    font-weight: 600;
    color: #fdd935;
} */

/* .power {
    position: absolute;
    padding: 3px;
    background-color: #000;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
    left: 0;
    bottom: 22px;
} */

/* .battleContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    padding: 0 10px;
} */

.brawlers {
  display: flex;
  justify-content: space-around;
}

/* .imgBrawl {
    object-fit: cover;
    border: 5px #000000 solid;
    object-position: left;
} */

/* .playerName {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
    text-align: center;
} */

.vsContainer {
  justify-self: center;
}

.vs {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
  text-shadow:
    #000 -2px 3px,
    #000 -1px -1px;
}

.battleBigBrawler {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 350px) {
  .typeMode {
    font-size: 17px;
  }

  .timeAgo {
    font-size: 11px;
  }

  .modeName {
    font-size: 15px;
  }

  .mapName {
    font-size: 11px;
  }

  .result {
    font-size: 20px;
  }
}

@media (min-width: 400px) {
  .typeMode {
    text-align: center;
  }

  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .modeName {
    font-size: 15px;
  }

  .modeContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .mapName {
    font-size: 11px;
  }

  .result {
    font-size: 20px;
  }
}

@media (min-width: 500px) {
  .typeMode {
    text-align: center;
  }

  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .modeName {
    font-size: 16px;
  }

  .mapName {
    font-size: 12px;
  }

  .duoContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .brawlers {
    justify-content: space-evenly;
  }

  .result {
    font-size: 22px;
  }
}

@media (min-width: 700px) {
  .typeMode {
    font-size: 20px;
  }

  .timeAgo {
    font-size: 15px;
  }

  .iconCont {
    width: 34px;
    height: 33px;
  }

  .modeName {
    font-size: 20px;
  }

  .mapName {
    font-size: 12px;
    padding-left: 40px;
  }

  .brawler {
    justify-content: space-between;
  }

  .duoContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .result {
    font-size: 24px;
  }

  .vs {
    font-size: 40px;
  }
}

@media (min-width: 900px) {
  .duoContainer {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: 1175px) {
  .typeMode {
    padding: 10px 10px 5px 0;
    font-size: 20px;
  }

  .timeAgo {
    padding: 12px 10px 5px 0;
    font-size: 15px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 0 0 30px 0;
    align-items: center;
    background-color: #736a96;
    padding: 15px 10px;
  }

  .modeContainer {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .mapName {
    font-size: 13px;
  }

  .brawlers {
    justify-content: space-evenly;
  }

  .vs {
    font-size: 45px;
  }

  .battleContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    padding: 0 10px;
  }
}
