.title {
    margin-bottom: 35px;
    font-weight: 800;
    font-size: 30px;
    color: #ffffff;
    text-shadow: #000 -2px 3px, #000 -1px -1px;
}

.section {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 50px;
    justify-items: center;
}

.div {
    transform: skew(-7deg,0deg);
    border: #000 solid 3px;
    padding: 10px;
}

.info {
    transform: skew(7deg,0deg);
}

.modeContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.mode {
    font-weight: 800;
    font-size: 25px;
    color: #ffffff;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
}

.map {
    font-weight: 700;
    color: #ffffff;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
}

.newMap {
    font-weight: 700;
    color: #ffffff;
    text-shadow: #000 -1px 2px, #000 -1px -1px;
}

.showdown {
    object-fit: contain;
}

@media (min-width: 650px) {
    .section {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 50px;
        justify-items: center;
    }
}

